<div class="row search">
  <div class="col-md-12">
    <%= form_for :search, url: search_path  do |f| %>
      <div class="input-group">
        <%= f.label :query, 'Search:', class: 'label' %>
        <%= f.text_field :query, class: "form-control" %>
        <span class="input-group-btn">
          <%= f.submit 'Search', class: 'btn btn-default' %>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="row games">
  <% if @games.present? %>
    <% @games.each do |game| %>
      <div class="col-md-6">
        <div class="media game-card">
          <img src="<%= game.image %>" class="game-thumb img-responsive d-flex mr-3 align-self-start">
          <div class="card-title media-body">
            <div class="col-md-10">
              <h5 class="game-name mt-0"><%= game.name %></h5>
            </div>
            <div class="col-md-2">
              <span class="game-release-date"><%= game.expected_release_date %></span>
            </div>
            <div class="card-contents">
              <p><%= game.description %></p>
            </div>
            <span class="game-platforms"><%= game.platforms %></span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
